* body {
  background-color: white;
  background-size: cover;
  background-position: center;
}

#top-nav {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
}

#top-nav li {
  list-style-type: none;
  font-size: 1.5rem;
  display: block;
}

#top-nav li a {
  text-decoration: none;
  font-family: "PT Sans";
  color: black;
  padding: 10px 20px;
}

#top-nav li a:hover {
  color: #fff;
  background-color: #718e9c;
}

#top-nav .main-items {
  display: flex;
}

h1 {
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 50px;
  font-family: "PT Sans";
  text-align: center;
  color: black;
}

h2 {
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: "PT Sans";
  text-align: center;
  color: black;
  text-decoration: underline;
}

p {
  font-weight: 30;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: "PT Sans";
  text-align: center;
  color: black;
}

button {
  height: 4em;
  width: 10%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: #4d6a79;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

section {
  padding: 35px;
  text-align: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}

.mockup {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 1000px;
} 
}

/* FOOTER */
footer {
  background: #718e9c;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}
